.round-time-bar div{
    height: 5px;
    background: linear-gradient(to bottom, red, #900);
    animation: roundtime calc(var(--duration)* 1s) steps(var(--duration)) infinite;
    transform-origin: left center;
}
.round-time-bar[data-style="smooth"] div{
    animation: roundtime calc(var(--duration)* 1s) linear infinite;
}
.round-time-bar[data-color="blue"] div{
    background: linear-gradient(to bottom, #64b5f6, #1565c0);
}
.round-time-bar[data-style="fixed"] div{
    width: calc(var(--duration)*5%);
}
    @keyframes roundtime{
    to{
        transform:scaleX(0);

    }
}